<div>
    <script type="text/template">
        <li>
            <div class="rss-content-bast-hot-image-bastnew cardShow">
                <span class=""><a href="#"><img src="../images/head/370759_100001233124312_1167673990_q.jpg" width="30" height="30"></a></span>
            </div>
            <div class="rss-content-right-text" style="width:400px; margin-bottom:15px">
                <div class="mc-box">
                    <span class="member-name cardShow">
                        <a href="#">{name}</a>
                    </span>
                </div>
                <div class="push-content-title-order-right">文章：<span class="usefont-color-red">427,433</span>&nbsp;&nbsp;&nbsp;收到讚：<span class="usefont-color-red">19,171</span></div>
            </div>
            <input type="button" value="已收看" class="watchal-b">
        </li>
    </script>
</div>
